# The directory Mix will write compiled artifacts to.
/_build

# If you run "mix test --cover", coverage assets end up here.
/cover

# The directory Mix downloads your dependencies sources to.
/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# specific IntelliJ files
.idea/
*.iml

# NPM packages
node_modules/

erl_crash.dump
*.ez
.idea/
*.iml

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.eot
*.ttf
*.woff
*.woff2
*~
*.sass-cache

# OS or Editor files/dirs
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Compiled Assets
apps/monitoring_dashboard/public/*
!apps/monitoring_dashboard/public/assets
apps/monitoring_dashboard/public/assets/*
!apps/monitoring_dashboard/public/assets/favicon.*
!apps/monitoring_dashboard/public/assets/images
