<div class="gridster">
  <ul>
    <li data-row="1"
        data-col="1"
        data-sizex="1"
        data-sizey="1">
      <div class="widget-trafficlight widget-job new-relic"
        data-unordered="true"
        data-widget="Trafficlight"
        data-source="new_relic"
        data-title="New Relic"></div>
    </li>
  </ul>
</div>
